.main {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  position: relative;
  justify-content: center;
}

.hero_section {
  position: relative;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-start);
  border-radius: 5px;
  > h1 {
    font-size: 3rem;
    color: var(--font-color-start);
    font-weight: 300;
  }
  > p {
    font-size: 1.25rem;
    color: var(--font-color-start);
    font-weight: 300;
  }
  &_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
    > div {
      display: flex;
      gap: 40px;
      > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        white-space: nowrap;
        > li {
          color: var(--font-color-start);
          font-size: 1.25rem;
          font-weight: 300;
        }
      }
    }
    > span {
      display: flex;
      align-items: center;
      gap: 50px;
      font-size: 1.5rem;
      > button {
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        padding: 14px 46px;
        height: min-content;
        font-weight: 300;
        font-size: 1.25rem;
        background-color: var(--background-green);
        color: white;
        border-radius: 5px;
        white-space: nowrap;
        border: none;
        &:hover {
          background-color: #009570da;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .hero_section {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-start);
    border-radius: 5px;
    > h1 {
      font-size: 3rem;
      color: var(--font-color-start);
      font-weight: 300;
    }
    > p {
      font-size: 1rem;
      color: var(--font-color-start);
      font-weight: 300;
    }
    &_footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-top: 200px;
      > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        white-space: nowrap;
        > li {
          color: var(--font-color-start);
          font-size: 1rem;
          font-weight: 800;
        }
      }
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 14px 26px;
  height: min-content;
  font-weight: 300;
  font-size: 1.25rem;
  background-color: var(--background-green);
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  border: none;
  &:hover {
    background-color: #009570da;
  }
}

.modal {
  display: flex;
  position: absolute;
  margin-top: 100px;
  max-width: 660px;
  width: 100%;
  background-color: white;
  padding: 10px 25px;
  border-radius: 5px;
  .close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  &_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    > h2 {
      font-size: 2rem;
      color: var(--font-color-start);
    }
    > form {
      display: flex;
      gap: 20px;
      width: 100%;
      > label {
        flex: 1;
        > input {
          width: 100%;
          border: none;
          outline: none;
          padding: 10px;
          border-radius: 5px;
          background-color: #e9e9e9;
          &::placeholder {
            color: #a0a0a0;
          }
        }
      }
      > button {
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        padding: 10px;
        height: min-content;
        font-weight: 300;
        font-size: 1rem;
        background-color: var(--background-green);
        color: white;
        border-radius: 5px;
        white-space: nowrap;

        border: none;
        &:hover {
          background-color: #009570da;
        }
      }
    }
    > ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      > li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.modal_access {
  display: flex;
  position: absolute;
  margin-top: 100px;
  max-width: 660px;
  width: 100%;
  background-color: white;
  padding: 50px 35px;
  border-radius: 5px;
  &_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    > h2 {
      font-size: 2rem;
      color: var(--font-color-start);
    }
    > input {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 5px;
      background-color: #e9e9e9;
      &::placeholder {
        color: #a0a0a0;
      }
    }
    > button {
      display: flex;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      padding: 10px;
      height: min-content;
      font-weight: 300;
      font-size: 1rem;
      background-color: var(--background-green);
      color: white;
      border-radius: 5px;
      white-space: nowrap;

      border: none;
      &:hover {
        background-color: #009570da;
      }
    }
  }
}
